name: build-ocp-source
channels:
  - conda-forge
dependencies:
  - occt=7.9.1=all*
  - pybind11=2.13.*
  - python=3.13
  - cmake >3.24
  - ninja
  - clangdev
  - python-clang=20.*
  - joblib
  - toml
  - click
  - jinja2
  - logzero
  - pandas
  - path
  - pyparsing
  - schema
  - tqdm
  - toposort
  - py-lief