name: Build OCP with pypi VTK V2

# on: workflow_dispatch
on:
    push:
        branches:
            - v7.9

jobs:
    addons-ubuntu:
        name: Build OCP addons for ${{ matrix.python-version }} on ${{ matrix.os }} (${{ matrix.use-vtk }})
        runs-on: ubuntu-latest
        container:
            image: ubuntu:20.04
            options: --name ci-ubuntu-20 # needed for manylinux_3_31
        strategy:
            fail-fast: false
            matrix:
                os: ["ubuntu-22.04"]
                # python-version: ["3.10", "3.11", "3.12", "3.13"]
                python-version: ["3.13"]
                use-vtk: ["vtk", "novtk"]
        steps:
            - uses: actions/checkout@v4

            - name: Build SDKs
              id: build-ocp-addons
              uses: ./.github/actions/build-ocp-addons
              with:
                  os: ${{ matrix.os }}
                  python-version: ${{ matrix.python-version }}
                  use-vtk: ${{ matrix.use-vtk }}
                  sed-i: "sed -i"

    addons-win-mac:
        name: Build OCP addons for ${{ matrix.python-version }} on ${{ matrix.os }} (${{ matrix.use-vtk }})
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                # os: ["macos-13", "macos-15", "windows-2022"]
                os: ["macos-15"]
                # python-version: ["3.10", "3.11", "3.12", "3.13"]
                python-version: ["3.13"]
                use-vtk: ["vtk", "novtk"]
                include:
                    - os: "macos-15"
                      sed-i: "gsed -i"
                    - os: "macos-13"
                      sed-i: "gsed -i"
                    - os: "windows-2022"
                      sed-i: "sed -i"
        steps:
            - uses: actions/checkout@v4

            - name: Build SDKs
              id: build-ocp-addons
              uses: ./.github/actions/build-ocp-addons
              with:
                  os: ${{ matrix.os }}
                  python-version: ${{ matrix.python-version }}
                  use-vtk: ${{ matrix.use-vtk }}
                  sed-i: ${{ matrix.sed-i }}
