name: Build OCP with pypi VTK V2

on: workflow_dispatch
# on:
#   push:
#     branches:
#       - v7.9

env:
  OCP: 7.9.2.0
  WHEEL: 7.9.2.0
  VTK: 9.5.2
  VTK_MAJOR: 9.5
  OCCT: 7.9.2
  PYBIND11: 2.13
  PYWRAP: false

jobs:
  # ================================================================================
  # Build SDKs for OCCT and VTK
  # ================================================================================

  sdks-ubuntu:
    name: Build OCCT SDK for ${{ matrix.python-version }} on ${{ matrix.os }} (${{ matrix.use-vtk }})
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
      options: --name ci-ubuntu-20 # needed for manylinux_3_31
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-22.04", "ubuntu-22.04-arm"]
        # python-version: ["3.10", "3.11", "3.12", "3.13"]
        python-version: ["3.13"]
        use-vtk: ["vtk", "novtk"]
    steps:
      - uses: actions/checkout@v4

      - name: Build SDKs
        id: build-sdks
        uses: ./.github/actions/build-sdks
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
          use-vtk: ${{ matrix.use-vtk }}
          vtk-libs: "libvtk*.so"
          vtk-suffix: "/vtk-9.5/"
          vtk-prefix: ""
          shells: "bash"

  sdks-win-mac:
    name: Build OCCT SDK for ${{ matrix.python-version }} on ${{ matrix.os }} (${{ matrix.use-vtk }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: ["macos-13", "macos-15", "windows-2022"]
        os: ["windows-2022"]
        # python-version: ["3.10", "3.11", "3.12", "3.13"]
        python-version: ["3.13"]
        use-vtk: ["vtk", "novtk"]
        include:
          # - os: "macos-15"
          #   vtk-libs: ".dylibs/libvtk*.dylib"
          #   vtk-suffix: "/"
          #   vtk-prefix: ""
          #   shells: "bash"
          # - os: "macos-13"
          #   vtk-libs: ".dylibs/libvtk*.dylib"
          #   vtk-suffix: "/"
          #   vtk-prefix: ""
          #   shells: "bash"
          - os: "windows-2022"
            vtk-libs: "vtk*.dll"
            vtk-suffix: "/"
            vtk-prefix: "Library/"
            shells: "bash cmd.exe"
    steps:
      - uses: actions/checkout@v4

      - name: Build SDKs
        id: build-sdks
        uses: ./.github/actions/build-sdks
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
          use-vtk: ${{ matrix.use-vtk }}
          vtk-libs: ${{ matrix.vtk-libs }}
          vtk-suffix: ${{ matrix.vtk-suffix }}
          vtk-prefix: ${{ matrix.vtk-prefix }}
          shells: ${{ matrix.shells }}

  # ================================================================================
  # Generate OCP sources
  # This follows exactly the azure pipeline defined in the OCP repo and uses a
  # micromamba env based approach for all packages.
  # ================================================================================

  sources-ubuntu:
    name: Build OCP source on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    container:
      image: ubuntu:20.04
      options: --name ci-ubuntu-20 # needed for manylinux_3_31

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-22.04"]
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Build or download OCP Source
        id: build-ocp-source
        uses: ./.github/actions/build-ocp-source
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}

  sources-win-mac:
    name: Build OCP source on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ["macos-15", "windows-2022"]
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Build or download OCP Source
        id: build-ocp-source
        uses: ./.github/actions/build-ocp-source
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}

  # ================================================================================
  # Build OCP
  # ================================================================================

  ocp-ubuntu:
    name: Build OCP for ${{ matrix.python-version }} on ${{ matrix.os }} (${{ matrix.use-vtk }})
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
      options: --name ci-ubuntu-20 # needed for manylinux_2_31
    needs: [sdks-ubuntu, sources-ubuntu]

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-22.04", "ubuntu-22.04-arm"]
        # python-version: ["3.10", "3.11", "3.12", "3.13"]
        python-version: ["3.13"]
        use-vtk: ["vtk", "novtk"]
        include:
          - os: "ubuntu-22.04"
            plat: manylinux_2_31_x86_64
          - os: "ubuntu-22.04-arm"
            plat: manylinux_2_31_aarch64

    steps:
      - uses: actions/checkout@v4
      - name: Build OCP
        id: build-ocp
        uses: ./.github/actions/build-ocp
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
          use-vtk: ${{ matrix.use-vtk }}
          shells: "bash"
          delocate: auditwheel patchelf
          plat: ${{ matrix.plat }}
          module: "OCP.*.so"
          env: "DUMMY=0"
          ocp-source-tag: "ubuntu-22.04"

  ocp-win-mac:
    name: Build OCP for ${{ matrix.python-version }} on ${{ matrix.os }} (${{ matrix.use-vtk }})
    runs-on: ${{ matrix.os }}
    needs: [sdks-win-mac, sources-win-mac]
    strategy:
      fail-fast: false
      matrix:
        # os: ["macos-13", "macos-15", "windows-2022"]
        os: ["windows-2022"]
        # python-version: ["3.10", "3.11", "3.12", "3.13"]
        python-version: ["3.13"]
        use-vtk: ["vtk", "novtk"]
        include:
          # - os: "macos-15"
          #   delocate: delocate
          #   plat: macosx_11_1_arm64
          #   module: "OCP.*.so"
          #   env: "MACOSX_DEPLOYMENT_TARGET=11.1"
          #   shells: "bash"
          #   ocp-source-tag: "macos-15"
          # - os: "macos-13"
          #   delocate: delocate
          #   plat: macosx_11_1_x86_64
          #   module: "OCP.*.so"
          #   env: "MACOSX_DEPLOYMENT_TARGET=11.1"
          #   shells: "bash"
          #   ocp-source-tag: "macos-15"
          - os: "windows-2022"
            delocate: delvewheel
            plat: win_amd64
            shells: "bash cmd.exe"
            module: "OCP.*.pyd"
            ocp-source-tag: "windows-2022"
    steps:
      - uses: actions/checkout@v4
      - name: Build OCP
        id: build-ocp
        uses: ./.github/actions/build-ocp
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
          use-vtk: ${{ matrix.use-vtk }}
          shells: ${{ matrix.shells }}
          delocate: ${{ matrix.delocate }}
          plat: ${{ matrix.plat }}
          module: ${{ matrix.module }}
          env: ${{ matrix.env }}
          ocp-source-tag: ${{ matrix.ocp-source-tag }}

  # ================================================================================
  # Tests
  # ================================================================================

  tests:
    name: Test OCP on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: [ocp-ubuntu, ocp-win-mac]

    strategy:
      fail-fast: false
      matrix:
        os: [
            # "macos-13",
            # "macos-15",
            "ubuntu-22.04",
            "ubuntu-22.04-arm",
            "windows-2022",
          ]
        # python-version: ["3.10", "3.11", "3.12", "3.13"]
        python-version: ["3.13"]
        use-vtk: ["vtk", "novtk"]

    steps:
      - uses: actions/checkout@v4
      - name: Test OCP
        id: test-ocp
        uses: ./.github/actions/test-ocp
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
          use-vtk: ${{ matrix.use-vtk }}
